.card-title {
  font-size: 55px;
  font-weight: 400;
  font-family: Garamond, Georgia, serif;
  
  &-extra {
    font-size: 55px;
    font-weight: 400;
    font-family: Garamond, Georgia, serif;
    color: #c1182f;
    line-height: 50px;
    margin-bottom: 20px;
  }
  &-text {
    max-width: 300px;
  }
}
