.container {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  &-card {
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #7c1120;
    height: 100%;
    width: max-content;
    color: rgb(243, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 20px 0;
    &-title {
      font-size: 25px;
      font-weight: 600;
      padding: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-links {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 20px;
      width: 100%;
      &-item {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.2s ease;
        width: 100%;
        font-size: 19px;
        text-wrap: nowrap;
        &:hover {
          background-color: rgb(255, 255, 255);
          color: #7c1120;
          cursor: pointer;
          transform: scale(1.05);
        }
        &-active {
          background-color: rgb(255, 255, 255);
          color: #7c1120;
        }
      }
    }
  }
}

.hide-button {
  position: relative;
  left: -28px;
  top: 30px;
  cursor: pointer;
}
