.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  gap: 10px;
}

.hr {
  width: 100%;
  color: #ccc;
  height: 1px;
  border-style: solid;
  margin: 20px 0;
}
