* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Garamond, Georgia, serif;
}

html,
body {
  max-width: 100vw;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
  color: #ccc;
  height: 1px;
  border-style: solid;
  margin: 20px 0;
}

select {
  background-color: white;
}

*:focus {
  outline: none;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}
